

body::before{
    display: block;
    content: '';
    height: 30px;
}

#e-img{
    border-radius: 50%;
    float: right;
}

@media(min-width: 768px){
    .news-input{
        width: 50%;
    }
}